[user]
	email = github@ssf.tf
	name = SFort
[init]
	defaultBranch = master
[diff]
	    tool = meld
[difftool]
	    prompt = false
[difftool "meld"]
	    cmd = meld "$LOCAL" "$BASE" "$REMOTE" --output "$MERGED"
[pull]
	rebase = false
[mergetool]
	keepBackup = false
