notification[value="drmContentDisabled"]{
 display:none !important;
}
#navigator-toolbox[inFullscreen] toolbar:not([collapsed="true"]) {
   visibility:visible!important;
}
#tabbrowser-tabs .tabbrowser-tab .tab-close-button {
   display:none!important;
}
