{
  "userSettings": {
    "roaming": {
      "SFP.Properties.Settings": {
        "AppTheme": "Dark",
        "CheckForUpdates": "False",
        "CloseToTray": "False",
        "DummySetting": "True",
        "DumpPages": "False",
        "ForceSteamArgs": "True",
        "InjectCSS": "True",
        "InjectJS": "True",
        "InjectJSWarningAccepted": "True",
        "InjectOnAppStart": "True",
        "InjectOnSteamStart": "True",
        "MinimizeToTray": "False",
        "RunOnBoot": "False",
        "RunSteamOnStart": "False",
        "SelectedSkin": "steamui",
        "ShowTrayIcon": "False",
        "StartMinimized": "False",
        "SteamDirectory": "/home/sfort/.steam/steam",
        "SteamLaunchArgs": "-cef-enable-debugging",
        "UseAppTheme": "True"
      }
    }
  }
}